<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IComplexCalculator" />
            </basicHttpBinding>
            <wsHttpBinding>
              <binding name="wsHttpBinding_IComplexCalculator">
                <security mode="Message">
                  <message clientCredentialType="UserName"/>
                </security>
              </binding>
            </wsHttpBinding>
            <netTcpBinding>
                <binding name="netTcpBinding_IComplexCalculator" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55597/ComplexCalculator.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IComplexCalculator"
                contract="ServiceReference1.IComplexCalculator" name="BasicHttpBindingEndpoint" />
            <endpoint address="net.tcp://localhost:55598/ComplexCalculator.svc"
                binding="netTcpBinding" bindingConfiguration="netTcpBinding_IComplexCalculator"
                contract="ServiceReference1.IComplexCalculator" name="netTcpBindingEndpoint" />
            <endpoint address="http://localhost:55597/ComplexCalculator.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttpBinding_IComplexCalculator"
                contract="ServiceReference1.IComplexCalculator" name="wsHttpBindingEndpoint" />
        </client>
    </system.serviceModel>
</configuration>