<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior name="mexBehaviour">
            <serviceMetadata httpGetEnabled="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <services>
        <service name="Lab1Wcf.ComplexCalculator" behaviorConfiguration="mexBehaviour">
          <endpoint address="ComplexCalculator.svc" binding="basicHttpBinding" contract="Lab1Wcf.IComplexCalculator">
          </endpoint>
          <endpoint address="ComplexCalculator.svc" binding="netTcpBinding" contract="Lab1Wcf.IComplexCalculator">
          </endpoint>
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:55597/" /> 
              <add baseAddress="net.tcp://localhost:55598/" />
            </baseAddresses>
          </host>
        </service>
      </services>
    </system.serviceModel>
</configuration>